input {
	border-radius: 30px;
}


body {
	background-image: url(https://cdn.discordapp.com/attachments/618390232525438977/625639376633724951/image0.png);
}


head { 
	color: #6aff2f
 }

 body { 
 	color: #6aff2f;
  }